<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="conString" value="server=47.100.234.91;database=db_jy1707;uid=sa;pwd=1qa2ws;"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
